#map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .hidden {
      visibility: hidden;
  }

  .visible {
      visibility: visible;
  }

  #findMeButton {
    position: fixed;
    top: 100px;
    left: 30vw;
    width: 40vw;
    height: 100px;
    z-index: 9999;
    cursor: pointer;
  }